---
title: "about us"
---

<div class="music-continer">
  <span class="thumbnail iblock avnter s2">
    <img src="http://tp2.sinaimg.cn/2318464877/180/5656423351/1" alt="猎人豆豆">
    <h4>猎人豆豆(Jonathan)<br/>
      <span class="tip">UX 工程师</span>
    </h4>

    <p>怒发冲冠，凭栏处、潇潇雨歇。抬望眼，仰天长啸，壮怀激烈。三十功名尘与土，八千里路云和月。莫等闲，白了少年头，空悲切。　　
　　靖康耻，犹未雪；臣子恨，何时灭！驾长车踏破贺兰山缺。壮志饥餐胡虏肉，笑谈渴饮匈奴血。待从头，收拾旧山河，朝天阙。</p>
  </span>
  <span class="thumbnail iblock avnter s2">
    <img src="http://tp2.sinaimg.cn/3199198457/180/5651038798/0" alt="莟珠小草">
    <h4>莟珠小草(River)<br/>
      <span class="tip">UX 工程师</span>
    </h4>
    <p>大江东去，浪淘尽，千古风流人物。故垒西边，人道是，三国周郎赤壁。乱石穿空，惊涛拍岸，卷起千堆雪。江山如画，一时多少豪杰。 
    遥想公瑾当年，小乔初嫁了，雄姿英发。羽扇纶巾，谈笑间，樯橹灰飞烟灭。故国神游，多情应笑我，早生华发。人生如梦，一尊还酹江月。</p>
  </span>
  <div class="thumbnail avnter iblock sall stage" river-click="animate" textAnimate>
      <p class="txtani">Who we are ?</p>
  </div>
</div>