---
title: "blog list page"
---

<div class="type-continer">
{% for post in site.posts %}
  {% if post.type == null %}
  <article class="blog-article block">
    <h1 class="">{{ post.title }}</h1>
    <time>{{post.date | date: "%d %B %Y" }}</time>
    <a class="block row" href="#/post/blog{{ post.url }}">
      <p class="span6">{{post.summary}}<br><span class="more">Learn more</span></p>
      <p class="span3"><img class="pull-right" src="{{ post.image }}" alt=""></p>
    </a>
    
  </article>
  {% endif %}
{% endfor %}
  <div class="footer"></div>
</div>