.inline {
  display: inline;
}
.absolut{
  position:absolute;
}
.top{
  top:0;
}
.right{
  right:0
}
.lang{
  display:inline-block;
  margin-left:20px;
  width:100px;
}

ul{
  list-style:none;
}

h4,h5{
  display:inline-block;
  font-weight:bolder;
  margin-right:20px
}
strong,em{
  display:inline;
  opacity:.5;
}
