.base-line{
	stroke: #9d9d9d; 
	stroke-width: 2;
}
.base-bar{
	fill: #c2c2c2;
}
.h-bar-title{
	fill: #9d9d9d;
	text-anchor: end;
}
.h-bar-value{
	fill: #9d9d9d;
	text-anchor: start;
}
.v-bar-title{
	fill: #9d9d9d;
	text-anchor: middle;
}
.v-bar-value{
	fill: #9d9d9d;
	text-anchor: middle;
}
