

/*#quick_glance_card{
	width: 250px;
	height: 250px;
}*/
/*#hosts_card{
	width: 400px;
}
#engines_card{
	width: 400px;
}
#stacks_card{
	width: 400px;
	clear: left;
}
#components_card{
	width: 680px;
}*/
.sf-card{
	/*float: left;*/
	/*min-height: 200px;
	min-width: 200px;
	margin-left: 30px;
	margin-top: 30px;*/
	min-height: 300px;
	margin-top: 15px;
	margin-bottom: 15px;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #d2d5db;
	/*box-shadow: 1px 1px 4px black;*/
	visibility: visible;
}
.sf-card{
	/*padding: 20px;*/
}
.chart-div{
	text-align: center;
}

.sf-card-operations-div{
	clear: both;
}
.sf-card-sheet{
	width: 50%;
	height: 100px;
	float: left;
	border: 0px solid gray;
}
.user-sheet,
.users-sheet{
	margin-top: 12px;
	width: 64px;
	height: 62px;
}
.user-sheet{
	background: url('/livecluster/admin/fabric/assets/img/user-icon.png') no-repeat;
}
.users-sheet{
	background: url('/livecluster/admin/fabric/assets/img/users-icon.png') no-repeat;
}
.operate-sheet{
	position: relative;
}
.sheet-gap{
	border-left: 1px solid #c2c2c2;
	height: 50px;
	right: 0px;
	top: 0px;
	position: absolute;
}
.sf-card-title-div{
	font-size: 18px;
	line-height: 50px;
	font-family: sans-serif;
	font-weight: lighter;
	color: #a4a4a4;
	padding: 0px 20px;
	position: relative;
}
.sf-card-body-div{
	padding: 0px 20px;
}
.sf-card-chart{
	/*margin: 20px 0px;*/
}
.sf-card-footer-div{
	padding: 0px 20px 20px 20px;
}
.sf-card-title{
	text-transform: capitalize;
}
.sf-card-text-b{
	font-size: 30px;
	color: #9d9d9d;
}
.sf-card-text-m{
	font-size: 18px;
	color: #9d9d9d;
}
.sf-card-text-m2{
	font-size: 16px;
}
.sf-card-text-m3{
	font-size: 14px;
}
.sf-card-text-s{
	font-size: 12px;
}
.glance-more-details{
	padding: 20px;
}
.data-sheet > .sf-card-graphic-num
{
	text-align: right;
}
.add-user,
.manage-user,
.add-users,
.manage-users{
	display: inline-block;
	/*margin-top: 40px;
	margin-left: 20px;*/
}
.add-user,
.add-users{
	margin-left: 14px;
	width: 50px;
	height: 32px;
}
.add-user{
	background: url('/livecluster/admin/fabric/assets/img/add-user.png') no-repeat;
}
.add-users{
	background: url('/livecluster/admin/fabric/assets/img/add-users.png') no-repeat;
}
.manage-user,
.manage-users{
	margin-left: 46px;
	width: 50px;
	height: 32px;
}
.manage-user{
	background: url('/livecluster/admin/fabric/assets/img/manage-user.png') no-repeat;
}
.manage-users{
	background: url('/livecluster/admin/fabric/assets/img/manage-users.png') no-repeat;
}
.operate-txt{
	text-transform: uppercase;
	color: #c2c2c2;
}
.operate-txt.txt-add{
	padding-left: 17px;
}
.operate-txt.txt-manage{
	padding-left: 27px;
}
.status-items{
	margin: 20px 0px;
}
.status-item{
	line-height: 40px;
}

#components-card  .card-status-div{
	float: left;
	width: 50%;
}

.overview-actions{
  float: right;
  border: 0px solid #FEB356;
}
.overview-action{
  width: 16px;
  height: 16px;
  margin: 0px 5px;
  border: 0px solid #FEB356;
  display: inline-block;
  cursor: pointer;
}
.action-title{
  float: left;
  margin: 0px 15px;
}
.collapse-action{
	background: url('/livecluster/admin/fabric/assets/img/ic_collapse.png') no-repeat;
	-webkit-transform: rotateZ(180deg);
	position: absolute;
	left: -4px;
	top: 13px;
}
.setting-action{
  /*background-position: -45px -2px;*/
  background: url('/livecluster/admin/fabric/assets/img/ic_settings.png') no-repeat;
}
.refresh-action{
  /*background-position: -80px -2px;*/
  background: url('/livecluster/admin/fabric/assets/img/ic_refresh.png') no-repeat;
}
.setting-action:hover{
  /*background-position: -45px -2px;*/
  background: url('/livecluster/admin/fabric/assets/img/ic_settings_hover2.png') no-repeat;
}
.refresh-action:hover{
  /*background-position: -80px -2px;*/
  background: url('/livecluster/admin/fabric/assets/img/ic_refresh_hover.png') no-repeat;
}
.refresh-action-b{
  width: 28px;
  height: 28px;
  background: url('/livecluster/admin/fabric/assets/img/refresh-b.png') no-repeat;
  position: relative;
  margin-left: -5px;
  cursor: pointer;
}
.card-status{
	float: left;
	vertical-align: text-bottom;
	width: 50%;
}
.cards-div{
	padding-left:5px;
	padding-top:28px;
	color: #9d9d9d;
	font-family: sans-serif;
	font-weight: lighter;
}
@media (min-width: 768px) {
  .sf-card-div {
    -webkit-perspective: 1000px;
  }
}
@media (min-width: 992px) {
  .sf-card-div {
    -webkit-perspective: 1000px;
  }
}
@media (min-width: 1200px) {
  .sf-card-div {
    -webkit-perspective: 1000px;
  }
}
.sf-card-div{
	position: relative;
	-webkit-perspective: 6000px;
}
.glance-icon{
  background: url('/livecluster/admin/fabric/assets/img/glance.png') no-repeat;
  width: 16px;
  height: 24px;
  float: left;
  border: 0px solid;
}
.field{
  margin-bottom: 20px;

}
.field{
	margin-top: 15px;
}
.field-title{
  text-transform: capitalize;

}
.field-value{
  text-transform: capitalize;

}

.cards{
	-webkit-perspective: 1000px;
}
.card{
	width: 300px;
	height: 350px;
	border: 0px solid gray;
	box-shadow: 1px 1px 10px gray;
	position: relative;
	border-radius: 4px;
	float: left;
	margin: 30px 0px 0px 30px;
}
/*.turner:hover{
	-webkit-transform: rotateY(180deg);
	-webkit-transition: 1s;
}
.front-board,
.back-board{
	position: absolute;
}
.front-board{
}
.back-board{
	-webkit-transform: rotateY(180deg);
	visibility: hidden;
}
.turner:hover > .front-board,
.turner:hover > .back-board{
	-webkit-transition-property: visibility;
	-webkit-transition-duration: 0s;
	-webkit-transition-timing-function: ease-in-out;
}
.turner:hover > .front-board{
	visibility: hidden;
	-webkit-transition-delay: 0.3s;
}
.turner:hover > .back-board{
	visibility: visible;
	-webkit-transition-delay: 0.4s;
}*/


