header{
  padding: 20px;
  text-align: center;
}
h1{
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
  margin-bottom: 40px;
  color: #456;
}
h1 p{
  color: #666;
  font-size: 12px;
  text-transform: none;
}

nav{
 padding: 20px;
 margin-top: 30px;
}
.paddingtop ,#home-stage .gl-container.paddingtop{
  padding-top: 20px;
}
.circle{
  border-radius: 30px;
}
.no-select{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gl-nav{
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  color: rgba(255,255,255,1);
  background:url(imges/nav.png);
  box-shadow: 0 2px 3px rgba(0,0,0,.5);
  margin: 0 4px;
}
.gl-nav:active{
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  background-position-y:2px;
}
.gl-prev{
  background-position: left center;
}
.gl-next{
  background-position: right center;
}
.galary .item a{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  font-weight: bolder;
  background-size: cover;
}
.sbin{
  line-height: 10px;
  position: absolute;
  bottom: -22px;
  text-transform: uppercase;
  display: none;
  text-align: center;
  width: 100%;
}
.gl-center .sbin{
  display: block;
}

.gl-container nav{
  text-align: center;
}
.gl-container nav span{
  opacity: 0.8;
}
.gl-container nav span:hover{
  opacity: 1;
}

.galary{
  margin: 0 auto;
  width: 480px;
  height: 310px;
  line-height: 310px;
  text-align: center;
  overflow: visible;
  list-style: none;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-perspective:1000px;
  -moz-perspective:1000px;
  -ms-perspective:1000px;
  -o-perspective:1000px;
  perspective:1000px;
}
.item{
  width: 100%;
  height:100%;
  background: rgba(243,243,243,.1);
  box-shadow: 1px 10px 20px rgba(0,0,0,.3);
  display: block;
  position:absolute;
  left: 0;
  top: 0;
  line-height: inherit;
  border-radius: 5px;
  visibility: hidden;
  padding: 3px;
  z-index: 0;
}
.gl-left{
  -webkit-transform: translateX(-350px) translateZ(-200px) rotateY(45deg);
     -moz-transform: translateX(-350px) translateZ(-200px) rotateY(45deg);
      -ms-transform: translateX(-350px) translateZ(-200px) rotateY(45deg);
       -o-transform: translateX(-350px) translateZ(-200px) rotateY(45deg);
          transform: translateX(-350px) translateZ(-200px) rotateY(45deg);
  visibility: visible;
  opacity: 1;
}
.gl-l-out{
  -webkit-transform: translateX(-450px) translateZ(-300px) rotateY(45deg);
     -moz-transform: translateX(-450px) translateZ(-300px) rotateY(45deg);
      -ms-transform: translateX(-450px) translateZ(-300px) rotateY(45deg);
       -o-transform: translateX(-450px) translateZ(-300px) rotateY(45deg);
          transform: translateX(-450px) translateZ(-300px) rotateY(45deg);
  visibility: hidden;
  opacity: 0;
}
.gl-right{
  -webkit-transform: translateX(350px) translateZ(-200px) rotateY(-45deg);
     -moz-transform: translateX(350px) translateZ(-200px) rotateY(-45deg);
      -ms-transform: translateX(350px) translateZ(-200px) rotateY(-45deg);
       -o-transform: translateX(350px) translateZ(-200px) rotateY(-45deg);
          transform: translateX(350px) translateZ(-200px) rotateY(-45deg);
  visibility: visible;
  opacity: 1;
}
.gl-r-out{
  -webkit-transform: translateX(450px) translateZ(-300px) rotateY(-45deg);
     -moz-transform: translateX(450px) translateZ(-300px) rotateY(-45deg);
      -ms-transform: translateX(450px) translateZ(-300px) rotateY(-45deg);
       -o-transform: translateX(450px) translateZ(-300px) rotateY(-45deg);
          transform: translateX(450px) translateZ(-300px) rotateY(-45deg);
  visibility: hidden;
  opacity: 0;
}
.gl-center{
  -webkit-transform: translateX(0px) translateZ(0px) rotateY(0deg);
     -moz-transform: translateX(0px) translateZ(0px) rotateY(0deg);
      -ms-transform: translateX(0px) translateZ(0px) rotateY(0deg);
       -o-transform: translateX(0px) translateZ(0px) rotateY(0deg);
          transform: translateX(0px) translateZ(0px) rotateY(0deg);
  opacity: 1;
  visibility: visible;
}
.gl-hide{
  visibility: hidden;
  opacity: 0;
}
#home-stage{
  white-space: nowrap;
  overflow: hidden;
  width: 200%;
  height: 100%;
}
#home-stage .inline-block{
  width: 50%;
  height: 100%;
  vertical-align: top;
  padding: 0;
  overflow-x: hidden;
}
.grid2col:after{
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

.grid2col .column{
  position: relative;
  z-index: 1;
  width: 49%;
  background: #fcfcfc;
  background: -webkit-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(252,252,252,1) 40%, rgba(252,252,252,1) 100%);
  background: -moz-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(252,252,252,1) 40%, rgba(252,252,252,1) 100%);
  background: -o-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(252,252,252,1) 40%, rgba(252,252,252,1) 100%);
  background: linear-gradient(top, rgba(243,243,243,1) 0%, rgba(252,252,252,1) 40%, rgba(252,252,252,1) 100%);
}
#buckets .content{ 
  margin-bottom:15px; 
  color:#000; 
  font-size:1.167em; 
  line-height:1.45em; 
}
.column.first{
  float: left;
}
.column.last{
  float: right;
}
.content{
  white-space: normal;
  background: #fff;
  border: 1px solid;
  border-color: #e5e5e5 #dbdbdb #d2d2d2;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
}

#buckets .column{
  position: relative;
}
#buckets .column img.bottom{
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 272px;
  height: 168px;
}
article p{
  white-space: normal;
  color: rgb(0,0,0);
  font-size: 14px;
}
.blog-article{
  padding: 20px 0;
  border-top: 1px solid rgba(0,0,0,.1);
  position: relative;
}
.blog-article:before{
  content: counter(flag);
  counter-increment: flag;
  font-style: italic;
  font-size: 6em;
  position: absolute;
  top: 92px;
  left: 16px;
  color: #000;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.3);
}

#buckets .more{
  color: #08c;
  background: url(../images/morearrow_08c.svg) no-repeat 100% 50%;
  padding-right: 10px;
}
#buckets h1 {
  font-size: 1.2em;
  font-weight: normal;
  margin-top: -2px;
  margin-bottom: 5px;
  display: inline;
}
#buckets .column a {
  padding: 20px 20px 0 40px;
  min-height: 223px;
  _height: 163px;
  border: 1px solid #fff;
  color: #000;
}
#buckets a{
  text-decoration: none;
}
#buckets a:hover .more{
  text-decoration: underline;
}

.content:nth-child(1n) {
  border: none;
}
.column:nth-child(2n) {
  float: right;
}

.block{
  display: block;
  padding: 20px 5px 5px 40px;
}
.content,.rounded{
  border-radius: 4px;
}