.link{
	color: #000;
}

.text-over{
	/*width: 170px;*/
	overflow: hidden;
	text-overflow:ellipsis;
	display: block;
	white-space: nowrap;
}

.glass-box{
	padding: 5px;
	border-radius: 5px;
	background: #fff;
	opacity: 0.7
}
.post-img{
	width: 240px;
	height: 135px;
}
.post{
	margin: 20px 0;
	list-style: none;
}
.post-summary{
	height: 40px;
	overflow: hidden;
}
.share-box a:hover{
	text-decoration: none;
}
.post .thumbnail{
	display: inline-block;
	vertical-align: top;
	box-shadow: 1px 1px 10px 1px #ddd;
}
.inline-block{
	display: inline-block;
	padding: 10px;
}
.scale-stage{
	position: absolute;
	width: 100%;
	height:100%;
	top:0;
	left: 0;
	background: #fff;
	z-index: 1;
}
.relative{
	position: relative;
	overflow: hidden;
}

#main-page{
	position: relative;
	overflow: hidden;
}

.transition{
	-webkit-transition: all .6s ease-in-out 0s;
	   -moz-transition: all .6s ease-in-out 0s;
	    -ms-transition: all .6s ease-in-out 0s;
	     -o-transition: all .6s ease-in-out 0s;
	        transition: all .6s ease-in-out 0s;
}
.scale-none{
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
	    -ms-transform: scale(0);
	     -o-transform: scale(0);
	        transform: scale(0);
}

body{
	overflow: hidden;
}