.mask{
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	top: 0;
	visibility: hidden;
	opacity: 0;
}
.iblock{
	display: inline-block;
}
.show{
	visibility: visible;
	opacity: 1;
}
.box-shadow{
	box-shadow: 0 1px 5px rgba(0,0,0,.3);
}
.loading{
	background: url(/images/loader_dark.gif) no-repeat 50% 50% rgba(0,0,0,.7);
}
.i-b{
	display: inline-block;
}
.tip{
	font-size: .6em;
	color: rgb(185, 185, 185);
	display: block;
	padding: 6px 0;
}
.thumbnail.avnter{
	margin: 0 5px;
	background: #fff;
	width: 160px;
	padding: 10px;
	display: inline-block;
}
.avnter img{
	margin: 0;
}
.avnter h4{
	font-size: 14px;
	color: #666;
	padding: 20px 0;
	margin: 10px 0;
	border-bottom: 1px solid #dedede;
}
p{
	white-space: normal;
}
.avnter p{
	font-size: 12px;
	color: rgb(170,170,170);
}
.link{
	color: #000;
}
.media-box{
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    margin-bottom: 10px;
    background: #fff;
    float: left;
    margin: 0 10px 10px 0px;
    border-radius: 4px;
}

.relative-block{
	position: relative;
	display: block;
}
.video{
	height: 210px;
}
.movie{
	width: 100%;
	height: 100%;
}
.moviepanel{
	position: absolute;
	top: 6%;
	left: 50%;
	margin-left: -320px;
	width: 640px;
	z-index: -500;
	opacity: 0;
}
.helper-cover{
	position: absolute;
	top:0;
	width: 100%;
	height:100%;
	z-index: 10;
}
.helper-cover .close-btn{
	opacity: 1;
}
#home-page .nav-tabs{
	margin: 0;
}
.close-btn{
	opacity: 0;
	background: url(http://trailers.apple.com/global/images/close_button.png) transparent;
	width: 26px;
	height: 26px;
	margin: -14px 0 0 -14px;
	cursor: pointer;
}
.close-btn:hover{
	background-position-y: 30px;
}
.wrap{
	height: 100%;
	overflow: hidden;
	margin-top: 40px;
}
time{
	font-style: italic;
	color: #ddd;
	font-size: 12px;
}
.summary{
	display: inline-block;
	vertical-align: top;
	white-space: normal;
}
.clear-fix{
	clear: both;
}
.full-s{
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling:touch;
}
.full-s .container{
    margin: 30px auto;	
}
.overflow-s{
	overflow: scroll;
}

@media (max-width: 979px) and (min-width: 768px){
	.wrap{
		margin-top: 0px;	
	}
}
@media (max-width: 979px){
	.bg-color .navbar-fixed-top{
		margin-bottom:0px;
	}
}
@media (max-width: 767px){
	.wrap{
		margin-top: 0px;	
	}
}

.play{
	background-image: url(http://besideriver.com/assets/imges/video_play_medium.svg);
	height: 46px;
	width: 46px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -23px 0 0 -23px;
	opacity: .5;
}
.play-btn.btn{
	margin: 10px 0;
	
}
.paly-bar{
	position: fixed;
	top:100px;
	left: 20%;
	z-index: 10;
}

.overlaypanelscreen{
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	opacity: 0.6;
	background: #000;
	z-index: 100;
}

.off{
	z-index: -100;
	opacity: 0;
}

.movie-on{
	opacity: 1;
	z-index: 500
}

.hover-tag:hover .play{
	background-position: 0 -46px;
	opacity: 1;
}
.hover-tag:hover p{
	color: auto;
	text-decoration: none;
}
.auto-cover{
	height: 100%;
}
.media-img{
	max-height: 255px;
}

.bs{
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	margin: 10px;
}
.bg-color{
    background: #f0f0f0 repeat -70% 0;
}

.text-over{
	/*width: 170px;*/
	overflow: hidden;
	text-overflow:ellipsis;
	display: block;
	white-space: nowrap;
}

.glass-box{
	padding: 5px;
	border-radius: 5px;
	background: #fff;
	opacity: 0.7
}
.post-img{
	width: 240px;
	height: 135px;
}
.post{
	padding: 20px;
	list-style: none;
    background: #fff;
    border-bottom: 1px solid;
    border-color: #bdbdbd;
}
.content-area{
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	border-radius:5px; 
	padding: 20px;
	margin-bottom: 10px;
}
.post-summary{
	height: 40px;
	overflow: hidden;
}
.share-box a:hover{
	text-decoration: none;
}
.post .thumbnail{
	display: inline-block;
	vertical-align: top;
	border: none;
}
.inline-block{
	display: inline-block;
	padding: 10px;
}
.scale-stage{
	position: absolute;
	width: 100%;
	height:100%;
	top:0;
	left: 0;
	background: #fff;
	z-index: 1;
}
.mv-stage{
	min-height: 654px;
}
.galss{
	background: rgba(255,255,255,.1)
}
.relative{
	position: relative;
	overflow: hidden;
}

#main-page{
	position: relative;
	overflow: hidden;
}
.thumb{
	float: left;
}

.type-continer{
	background: #fff;
	box-shadow: 0 0 4px rgba(0,0,0,.3);
	counter-reset: flag;
	margin: 0 0 30px 0;
}

.transition{
	-webkit-transition: all .6s ease-in-out 0s;
	   -moz-transition: all .6s ease-in-out 0s;
	    -ms-transition: all .6s ease-in-out 0s;
	     -o-transition: all .6s ease-in-out 0s;
	        transition: all .6s ease-in-out 0s;
}
.transition-short{
	-webkit-transition: all .4s ease-in-out 0s;
	   -moz-transition: all .4s ease-in-out 0s;
	    -ms-transition: all .4s ease-in-out 0s;
	     -o-transition: all .4s ease-in-out 0s;
	        transition: all .4s ease-in-out 0s;
}
.opa-trans{
	-webkit-transition: opacity .3s ease-in-out 0s;
	   -moz-transition: opacity .3s ease-in-out 0s;
	    -ms-transition: opacity .3s ease-in-out 0s;
	     -o-transition: opacity .3s ease-in-out 0s;
	        transition: opacity .3s ease-in-out 0s;
}
.short-trans{
	-webkit-transition: opacity .1s ease-in-out 0s;
	   -moz-transition: opacity .1s ease-in-out 0s;
	    -ms-transition: opacity .1s ease-in-out 0s;
	     -o-transition: opacity .1s ease-in-out 0s;
	        transition: opacity .1s ease-in-out 0s;
}
.scale-none{
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
	    -ms-transform: scale(0);
	     -o-transform: scale(0);
	        transform: scale(0);
}


html,body{
	height: 100%;
	overflow: hidden;
}

.dot-nav.active{
	background: #08c;
	background: -webkit-gradient(linear,lefttop,leftbottom,color-stop(0%,rgb(126,198,234)),color-stop(24%,rgb(70,179,234)),color-stop(100%,rgb(3,135,201)));
	background: -webkit-linear-gradient(top,rgb(126,198,234)0%,rgb(70,179,234)45%,rgb(3,135,201)100%);
	background: -moz-linear-gradient(top,rgb(126,198,234)0%,rgb(70,179,234)45%,rgb(3,135,201)100%);
	background: linear-gradient(top,rgb(126,198,234)0%,rgb(70,179,234)45%,rgb(3,135,201)100%);
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .25);
	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .25);
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, .25);
}
.dot-nav{
	border-radius: 10px;
	width: 20px;
	height: 20px;
	background: #e0e1e3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25);
	display: inline-block;
	cursor: pointer;
	background: #897;
	color: #fff;
}