.link{
	color: #000;
}
.media-box{
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    margin-bottom: 10px;
    background: #fff;
    float: left;
}

.relative-block{
	position: relative;
	display: block;
}
.video{
	height: 210px;
}
.movie{
	width: 100%;
}
.wrap{
	height: 100%;
	overflow: hidden;
	margin-top: 60px;
}
.full-s{
	height: 100%;
	overflow: hidden;
}
.overflow-s{
	overflow: scroll;
}

@media (max-width: 979px) and (min-width: 768px){
	.wrap{
		margin-top: 0px;	
	}
}
@media (max-width: 767px){
	.wrap{
		margin-top: 0px;	
	}
}

.play{
	background-image: url(/assets/imges/video_play_medium.png);
	background-image: url(/assets/imges/video_play_medium.svg);
	height: 46px;
	width: 46px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -23px 0 0 -23px;
	opacity: .5;
}
.hover-tag:hover .play{
	background-position: 0 -46px;
	opacity: 1;
}
.hover-tag:hover p{
	color: auto;
	text-decoration: none;
}
.auto-cover{
	height: 100%;
}
.media-img{
	max-height: 255px;
}

.bs{
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.bg-color{
    background: #f0f0f0 repeat -70% 0;
}

.text-over{
	/*width: 170px;*/
	overflow: hidden;
	text-overflow:ellipsis;
	display: block;
	white-space: nowrap;
}

.glass-box{
	padding: 5px;
	border-radius: 5px;
	background: #fff;
	opacity: 0.7
}
.post-img{
	width: 240px;
	height: 135px;
}
.post{
	padding: 20px;
	list-style: none;
    background: #fff;
    border-bottom: 1px solid;
    border-color: #bdbdbd;
}
.content-area{
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	border-radius:5px; 
	padding: 20px;
	margin-bottom: 10px;
}
.post-summary{
	height: 40px;
	overflow: hidden;
}
.share-box a:hover{
	text-decoration: none;
}
.post .thumbnail{
	display: inline-block;
	vertical-align: top;
	border: none;
}
.inline-block{
	display: inline-block;
	padding: 10px;
}
.scale-stage{
	position: absolute;
	width: 100%;
	height:100%;
	top:0;
	left: 0;
	background: #fff;
	z-index: 1;
}
.relative{
	position: relative;
	overflow: hidden;
}

#main-page{
	position: relative;
	overflow: hidden;
}

.transition{
	-webkit-transition: all .6s ease-in-out 0s;
	   -moz-transition: all .6s ease-in-out 0s;
	    -ms-transition: all .6s ease-in-out 0s;
	     -o-transition: all .6s ease-in-out 0s;
	        transition: all .6s ease-in-out 0s;
}
.short-trans{
	-webkit-transition: opacity .1s ease-in-out 0s;
	   -moz-transition: opacity .1s ease-in-out 0s;
	    -ms-transition: opacity .1s ease-in-out 0s;
	     -o-transition: opacity .1s ease-in-out 0s;
	        transition: opacity .1s ease-in-out 0s;
}
.scale-none{
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
	    -ms-transform: scale(0);
	     -o-transform: scale(0);
	        transform: scale(0);
}


html,body{
	height: 100%;
	overflow: hidden;
}