body{
font-size: 12px;
margin: 0px;
}
.title-road{
  stroke-width: 2;
  stroke-dasharray: 5, 3;
  fill: none;
}
.chart-out{
  margin: 15px 0px;
  text-align: center;
}
		stroke-dasharray: 5 2;
	}  
	polygon.cube-polygon{
	    fill-opacity: 0.8;
	}
	.center-block{
		display: inline-block; 
		border: 0px solid green; 
		text-align: left;
	}
	.title{
		margin: 10px 0px;
	}
	#sort_num,
	#sort_speed,
	#hanoi_num,
	#hanoi_speed{
		width: 50px;
	}


.col-12-8,
.col-12-6,
.col-12-4,
.col-12-3{
	width: 100%;
  float: left;
}
@media (min-width: 608px) {
  .col-12-8{
	width: 66.67%;
  }
  .col-12-6{
    width: 50%;
  }
  .col-12-4{
    width: 33.33%;
  }
  .col-12-3{
    width: 25%;
  }
}
/*@media (min-width: 992px) {
  .col-12-6 {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .col-12-6 {
    width: 50%;
  }
}*/
.card-in{
  border: 1px solid #c2c2c2;
  box-shadow: 2px 2px 5px #c2c2c2;
  margin: 10px;
  height: 380px;
  position: relative;
}
#linerDemoDiv.card-in{
}
#demoHanoiDiv.card-in{
	height: 350px;
}
#demoHanoi_svg.demo-board{
	height: 300px;
}
#demoTwowaybindingDiv.card-in{
	height: 390px;
}
#linerDemoDiv > .card-body{
	margin: 0px 15px;
}
#demoTwowaybindingDiv >  .card-body{
	margin: 5px 15px 15px 15px;
}
.demo-board{
	height: 350px;
	width: 100%;
}
#linerDemoDiv .demo-board{
	height: 200px;
}
#demoAlg_svg.demo-board{
	height: 300px;
}
#demoTipDiv.card-in{
	height: 350px;
}
#demoTipSVG.demo-board{
	height: 305px;
}
#river-chart-cards-div .card-in{
	border: none;
	box-shadow: none;
	height: 250px;
}
#demoHanoiDiv.card-in{
}
.card-action{
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 23px;
}
.card-action.refresh-action{
	background: url('../img/refresh.jpeg') -10px -10px;
}
.card-in .refresh-action{
	float: right;
	opacity: 0;
	-webkit-transition: opacity 0.4s;
}
.card-in:hover .refresh-action{
	opacity: 1;
}

#river-chart-div.card-in{
	height: 600px;
}
.card-iframe{
	width: 100%;
	height: 100%;
	border: none;
}

.header{
height: 200px;
background: rgb(0,100,200);
}
.header.header-bg{
background: url('../photoes/bg_ning_jump2.JPEG') top center no-repeat;
}
.footer{
/*background: url('../photoes/bg_grass.JPEG') top center no-repeat;*/
border-top: 1px solid gray;
clear: both;
margin-top: 15px;
padding-top: 15px;
margin-bottom: 15px;
overflow: auto;
}
.layout{
	max-width: 1024px;
	margin: 0px auto;
}
.site-name{
font-size: 36px;
padding: 30px 30px 0px 30px;
color: #fff;
display: block;
}
.site-desc{
margin-left: 30px;
color: #fff;
}
.card-header{
	position: relative;
}
.card-title{
	font-size: 18px;
	color: gray;
	display: block;
	line-height: 30px;
	margin: 0px 15px;
}
.card-desc{
	display: block;
	color: gray;
	font-size: 10px;
	margin-left: 15px;
}
/*.control-board-out{
	width:10px;
	height: 100%;
	right: 0px;
	top: 0px;
	position: absolute;
	background: black;
}
.control-board{
	background: brown;;
	width: 0px;
	height: 100%;
	position: absolute;
	right: 0px;
	top: -0px;
	z-index: 1;
	padding-left: 0px;
	-webkit-transition: all  1s;
}
.control-board-out:hover .control-board{
	width: 120px;
	right: -120px;
}
.control-board-out:hover .contro-road{
	display: block;
	width: 12px;
	right: -12px;
}
.card-in:hover .control-actions{
	opacity: 1;
}
.control-actions{
	opacity: 0;
	-webkit-transition: all 0s 1s;
}
.control-road{
	-webkit-transition: 1s;
	width: 0px;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	-webkit-transform: rotateY(-45deg);
	background: brown;
	z-index: 1;
}*/
.control-board{
	position: absolute;
	top: 5px;
	right: 15px;
}
.control-board-bottom{
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 5px  15px;
}
.card-body{
}
.choose-div{
	text-align: center;
}
#sort_num,
#sort_speed,
#hanoi_num,
#hanoi_speed{
	width: 30px;
}
#hanoi-btn{
	width: 60px;
}

.alg-scope{
	stroke: green;
	stroke-width: 2;
}
.declare{
}
.about-me{
}
.about-item{
	margin-right: 10px;
}

.tower-title{
text-anchor: middle;
}
