<!doctype html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="zhang-ning,deng-ylin">
    <title>zhang-ning and deng-ylin 's web site</title>

    <link rel="stylesheet" href="/assets/style.css">
    
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap-responsive.min.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/lr144.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/lr114.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/lr72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/lr57.png">
    <link rel="shortcut icon" href="/assets/ico/favicon.png">
  </head>
  <body class="bg-color">

    <a style="position: fixed; top: 0; right: 0; z-index:2000;" href="https://github.com/zhang-ning" _orighref="https://github.com/zhang-ning" _tkworked="true"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#/home/">Beside River</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/"></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="relative wrap">
      <div class="transition full-s" id="home-page">
      {{content}}
      </div>
      <div class="scale-stage transition scale-none" id="detail-page">
        <iframe src="" frameborder="0" width="100%" height="100%">
          
        </iframe>
      </div>
    </div>
  </body>
</html>
<script src="/assets/js/controler.js"></script>
