<!doctype html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="zhang-ning,deng-ylin">
    <title>zhang-ning and deng-ylin 's web site</title>

    <link rel="stylesheet" href="/assets/style.css">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap-responsive.min.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
  </head>
  <body>

    <!-- <a style="position: fixed; top: 0; right: 0; z-index:2000;" href="https://github.com/zhang-ning" _orighref="https://github.com/zhang-ning" _tkworked="true"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a> -->

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#/home/">Beside River</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/"></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="relative">
      <div class="container transition" id="home-page">
      {{content}}
      </div>
      <div class="scale-stage transition scale-none" id="detail-page">
        <iframe src="" frameborder="0" width="100%" height="100%">
          
        </iframe>
      </div>
    </div>
  </body>
</html>
<!-- <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script> -->
<!-- <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script> -->
<!-- <script src="/assets/lib/angular.min.js"></script> -->
<script src="/assets/js/controler.js"></script>
