<!doctype html>
<html ng-app>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="viewport" content="width=1024,target-densitydpi=device-dpi"/>
    <meta name="description" content=""/>
    <meta name="author" content="zhang-ning,deng-ylin"/>
    <title>zhang-ning and deng-ylin 's web site</title>

    <link rel="stylesheet" href="/assets/fontello.css"/>

    <link rel="stylesheet" href="/assets/style.css"/>
    <link rel="stylesheet" href="/assets/home.css"/>
    
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap-responsive.min.css"/>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/lr144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/lr114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/lr72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/lr57.png"/>
    <link rel="shortcut icon" href="/assets/ico/favicon.png"/>
    <script src="/assets/js/River.js"></script>
  </head>
  <body class="bg-color">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#/home/">Beside River</a>
        </div>
      </div>
    </div>

    <div class="relative wrap">
      <div class="transition full-s" id="home-page">
      {{content}}
      </div>
      <div class="scale-stage transition scale-none" id="detail-page">
        <iframe src="" frameborder="0" width="100%" height="100%">
          
        </iframe>
      </div>
    </div>
    <div class="mask loading">
    </div>
  </body>
</html>

<script src="/assets/js/funnel.js"></script>
<script src="/assets/js/galary.js"></script>
<script src="/assets/js/textAnimate.js"></script>

<script src="/assets/js/controler.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40875477-1', 'besideriver.com');
  ga('send', 'pageview');

</script>
<!-- <script src="/assets/lib/bootstrap/js/jquery.js"></script>
<script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script> -->

