<html>
  <head>
    <link rel="stylesheet" href="/assets/style.css">
    <style>
      
    </style>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/assets/monokai.css">
  </head>
  <body class="bg-color full-s">
    <div class="container">
      
      <div class="content-area">
        <div class="share-box">  
          
        </div>
        {{content}}
      </div>
      <div id="disqus_thread" class="content-area"></div>
    </div>
  </body>
</html>


<script src="http://besiderivercom.disqus.com/embed.js" type="text/javascript" async="true"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40875477-1', 'besideriver.com');
  ga('send', 'pageview');

</script>