<html>
  <head>
    <link rel="stylesheet" href="/assets/style.css">
    <style>
      
    </style>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
  </head>
  <body class="bg-color full-s">
    <div class="container">
      
      <div class="content-area">
        <div class="share-box">  
          
        </div>
        {{content}}
      </div>
      <div id="disqus_thread" class="content-area"></div>
    </div>
  </body>
</html>


<script src="http://besiderivercom.disqus.com/embed.js" type="text/javascript" async="true"></script>