<html>
  <head>
    <link rel="stylesheet" href="/assets/style.css">
    <style>
      
    </style>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/assets/monokai.css">
  </head>
  <body class="bg-color full-s">
    <div class="container">
      
      <div class="content-area">
        <div class="share-box pull-right"> 
          <a href="http://v.t.sina.com.cn/share/share.php?url=http://besideriver.com/%23/post/blog{{page.url}}&title={{page.title}}&content=gb2312&amp;pic={{page.image}}&amp;ralateUid={{page.weibo}}" title="分享到新浪微博" target="_blank">
            <img src="http://s.yytcdn.com/images/external/sina24.png" alt="新浪微博">
          </a>
        </div>
        {{content}}
      </div>
      <div id="disqus_thread" class="content-area"></div>
    </div>
  </body>
</html>

<script src="/assets/js/imgready.js" type="text/javascript" async="true"></script>
<script src="http://besiderivercom.disqus.com/embed.js" type="text/javascript" async="true"></script>